
$icon-arrow: "\EA01" !default;

$icon-desktop: "\EA02" !default;

$icon-idea: "\EA03" !default;

$icon-performance: "\EA04" !default;

$icon-rocket: "\EA05" !default;

$icon-value: "\EA06" !default;
